.sessionDuration{
    background-color: #fe0101;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessionDuration-graph{
    border-radius: 10px;
}

.sessionDuration-title{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    font-weight: 600;
    color: white;
    opacity: 0.7;
}

.sessionDuration-tooltip{
    padding: 5px 10px;
    color: black;
    background-color: white;
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
}

.recharts-cartesian-axis-line {
    stroke: none;
}

.recharts-cartesian-axis-tick-line {
    display: none;
}

