.welcome-banner{
    margin-bottom: 4%;
}

.welcome-banner h1{
    font-size: 3.1em;
    margin-bottom: 1%;
    font-weight: 500;
}

.welcome-banner-name{
    color: #fe0101;
}

.welcome-banner p{
    font-size: 16px;
}