.side-nav{
    position: relative;
    background-color: #020203;
    min-height: calc(100vh - 77px); 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    max-width: 115px;
}

.side-nav-copyright{
    position: absolute;
    bottom: 80px;
    transform: rotate(-90deg);
    color: white;
    width: 150px;
    font-size: 10px;
}