.profil-wrapper{
  display: flex;
}

.profil-content{
  width: calc(100% - 115px);
  padding: 3% 1% 1% 4%;
  font-size: 12px;
}

h3{
  font-size: 1.1em;
}

.activityType, .score, .sessionDuration{
  min-height: 190px;
}


@media screen and (min-width: 1200px) {
  h3{
    font-size: 1.3em;
    max-width: 60%;
  }

  .stats-grid article{
    min-height: 220px;
  }

  .recharts-legend-item-text{
    font-size: 14px;
  }

  .recharts-polar-angle-axis-tick {
    font-size: 13px;  
  }
}

