.indicators{
    flex: 1;
    min-width: 75px;
    max-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* indicator component */
.indicator-wrapper{
    padding: 10px;
}

.indicator{
    padding: 25px;
    border-radius: 5px;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
}

.indicator-img{
    width: 50px;
}

.indicator-img img{
    width: 100%;
}

.indicator-text{
    font-family: 'Roboto', sans-serif;    
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
}

.indicator-type{
    color: #74798C;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
}