.stats{
    display: flex;
}

.stats-grid{
    width: calc(77% - 10px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.stats-grid > :first-child{
    grid-column: 3 span;
}

.stats-indicators{
    width: calc(23% - 10px);
}

@media screen and (max-width: 1200px) {
    .stats{
        flex-direction: column-reverse;
    }

    .stats-indicators > .indicators{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .stats-grid, .stats-indicators{
        width: 93%;
    }
}


